.dropdown {
    font-size: 25px;
}

#title {
    margin-right: 60px;
}

#number {
    margin-right: 30px;
}

#nav-contact {
    margin-left: 80px;
}

#accordion-text {
    text-align: center;
}

#carousel {
    width: 400px;
}