#Home {
    background-color: #8EE4AF;
}

/*Navbar fichier Navigate*/
.dropdown {
    font-size: 25px;
}

#title {
    margin-right: 60px;
}

#number {
    margin-right: 30px;
}

#nav-contact {
    margin-left: 80px;
}

/*Card presentation fichier Body*/

#container-card {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    box-shadow: 10px 10px 10px #B9B9B9, 10px 10px 20px #B9B9B9;
}

/*Carousel produits fichier Body*/

#card-carousel {
    width: 600px;
}

#carousel {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#image-carousel {
    height: 400px;
    width: 500px;
}

/*Card presentation*/

#card-text {
    margin-top: 100px;
    height: 500px;
}

#card-body {
    text-align: left;
    font-size: 1rem;
}

#card-header {
    text-align: center;
}

#cardgroup {
    width: 410px;
    height: 320px;
}

/*Card quality*/

#card-quality {
    text-align: center;
    font-size: 1.1rem;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/*card grizzly*/

#card-grizzly {
    margin-top: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
}

/*footer fichier footer*/

#footer {
    background-color:  #E3E3E3;
}

#list-icon {
    color: black;
}

#text-footer {
    text-align: left;
    font-size: 0.9rem;
}

h4 {
    text-align: left;
}