.dropdown {
    font-size: 25px;
}

#title {
    margin-right: 60px;
}

#number {
    margin-right: 30px;
}

#nav-contact {
    margin-left: 80px;
}

#container-card {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

#card {
    background-color: #D6DAD6;
}

#carousel {
    width: 400px;
}