/*page support*/

#title-help {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 70px;
    border: none;
}

#help-card-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

#first-accordion {
    width: 500px;
}

#title-accordion-help {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
}

#second-accordion {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}